/*NOTE: INSERT FONTS LATER*/

/*General Styles*/
* {
    margin: 0;
    padding: 0;
    z-index: 0;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: black;
    font-style: none;
}
body {
    width: 100%;
}

/*Progressive Styles*/





/*________________HOME START________________*/
/*Home Sidebar*/
#Home {
    width: 100%;
    height: 100%;
}
#Home sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: #101B54; 
}
#Home sidebar header {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    height: 7%;
    padding-top: 3%;
    color: white;
}
#Home sidebar section {
    margin: auto;
    width: 95%;
    font-size: 1.5em;
    height: 83%;
}
/*for the lists*/
#Home sidebar section h3 {
    color: white;
    background-color: #9A9AC6;
    font-size: 3vh;
    text-align: center;
    width: 50%;
}
#Home sidebar section ul {
    margin: auto;
    margin-bottom: 2%;
    width: 95%;
    height: 42%;
    font-size: 2.8vh;
    color: white;
    overflow: auto;
}
#Home sidebar section ul li {
    width: 85%;
    padding: 3%;
    overflow: hidden;
}
/*For settings section*/
#Home sidebar section#setting{
    height: 10%;
    width: 100%;
}
#Home sidebar section#setting h3{
    background-color: rgba(0,0,0,0);
    font-size: 2.3vh;
    position: relative;
    width: 48%;
    display: inline-block;
    margin: auto;
}

/*Home Body*/
#HomeBody {
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #B5E8E5
}
#HomeBody header {
    width: 100%;
    padding: 1% 0;
    height: 18%;
    color: #101B54;
    text-align: center;
}
#HomeBody header h1 {
    height: 50%;
    background-color: white;
    margin: auto;
    width: 70%;
    font-size: 7.2vh;
}
#HomeBody header h2 {
    height: 48%;
    padding: 1% 0;
    margin: auto;
    width: 100%;
    font-size: 3.3vh;
}
#HomeCheckList{
    width: 60%;
    height: 80%;
    position: absolute;
    left: 0;
}
#HomeCheckList h1{
    height: fit-content;
    width: 70%;
    margin: auto;
    border-bottom: 5px solid #101B54;
    text-align: center;
    font-size: 5vh;
    color: #3E3EBE;
}
#HomeCheckList ul{
    margin: auto;
    width: 90%;
    height: 90%;
    font-size: 4.8vh;
    list-style: none;
    overflow: auto;
}
#HomeCheckList ul li{
    padding: 2%;
    color: #57BCFF;
}
#HomeResources{
    width: 40%;
    position: absolute;
    right: 0;
}
#HomeResurces ul{
    list-style: none;
    overflow: auto;
}

/*________________HOME END________________*/





/*________________SETTINGS START________________*/
/*________________SETTINGS END________________*/





/*________________CHAT START________________*/

#Chat{
    height: 100%;
    width: 100%;
    z-index: 1;
}
#MessageList{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: #101B54; 
}
MessageList header{
    width: 100%;
    text-align: center;
    height: 7%;
    padding-top: 3%;
}
#MessageList section h3{
    color: white;
    background-color: #9A9AC6;
    font-size: 3vh;
    text-align: center;
    width: 50%;
}
#MessageList section ul{
    margin: auto;
    margin-bottom: 2%;
    width: 95%;
    height: 42%;
    font-size: 2.8vh;
    color: white;
    overflow: auto;
}
#MessageList section ul li{
    width: 85%;
    padding: 3%;
    overflow: hidden;
}

#ChatBody{
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #B5E8E5
}
#CallInit{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: #101B54; 
}


/*________________CHAT END________________*/





/*________________SETTINGS START________________*/
/*________________SETTINGS END________________*/