/*NOTE: INSERT FONTS LATER*/

/*imports*/
@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani");
@import url("https://fonts.googleapis.com/css?family=Arvo|Raleway");
/*Scroll Bar*/
*::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #EBEBEB;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #E7E7E7;
}

*::-webkit-scrollbar-thumb
{
	background-color: #566FBE;
}

/*General Styles*/
* {
    user-select: none;
    margin: 0;
    padding: 0;
    z-index: 0;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-style: none;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
button, input, a {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Arvo', sans-serif;
}
ul{
    text-overflow:ellipsis;
}
li {
    text-overflow:ellipsis;
}

/*________________Searcher Window________________*/
#searchWindow{
    z-index: 8;
    width: 15%;
    height: 45%;
    position: absolute;
    visibility: hidden;
    left: 15%;
    top: 0%;
    background-color: rgb(62, 62, 138);
    transition-duration: 0.3s;
}
#searchWindow form{
    padding-top: 3%;
    margin: auto;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#searchWindow input{
    width: 90%;
    padding: 2%;
    overflow: hidden;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.507);
    border: none;
    outline: none;
}
#searchWindow ul{
    width: 100%;
    height: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    list-style-type: none;
    color: white;
    text-align: center;
}
#searchWindow ul li{
    padding: 1.5%;
}
#searchWindow ul li:hover{
    background-color: rgb(78, 78, 160);
}


/*________________HOME START________________*/
/*Home Sidebar*/
#Home {
    width: 100%;
    height: 100%;
    background-color:#1e255b;
    transition-duration: 0.3s;
    overflow: hidden;
}
#Home sidebar {
    position: absolute;
    left: -90%;
    top: 0;
    bottom: 0;
    width: 95%;
    z-index: 1;
    color: rgba(255, 255, 255, 0.67);
    background-color: #313190;
    background: -webkit-linear-gradient(right, #171763, #0e0e4a);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    /*
    transition-delay: 1.3s;
    */
    cursor: pointer;
}
#Home sidebar:hover{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-delay: 0.3s;
    transition-delay: 0.0s;
    left: 0;
}
#Home sidebar header {
    width: 100%;
    text-align: center;
    font-size: 5.7vw;
    white-space: nowrap;
    height: 7%;
    color: white;
    padding-top: 3%;
}
#Home sidebar section {
    margin: auto;
    width: 95%;
    height: 72%;
}
/*for the lists*/
#Home sidebar section h3 {
    color: white;
    display: inline-block;
    background-color: #9A9AC6;
    font-size: 3vh;
    text-align: center;
    width: 100%;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
#Home sidebar section img{
    display: none;
}
#Home sidebar section ul {
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    width: 98%;
    height: 42%;
    font-size: 2.8vh;
    overflow: auto;
    overflow-x:hidden;
}
#Home sidebar section ul.lined{
    list-style-position: none;
    color: gray;
}
#Home sidebar section ul.lined li span{
    color: rgba(255, 255, 255, 0.67);;
}
#Home sidebar section ul li {
    width: 100%;
    padding: 2%;
    white-space: nowrap;
    overflow-x:hidden;
}
#Home sidebar section ul li:hover{
    background-color: #212263;
}
/*For settings section*/
#Home sidebar section#setting{
    height: 15%;
    width: 100%;
}
#Home sidebar section#setting h3{
    background-color: rgba(0,0,0,0);
    font-size: 2.3vh;
    width: 48%;
    height: 48%;
    line-height: 4;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#setting img{
    display: inline-block;
    position: absolute;
    left: 68%;
    bottom: 4.5%;
}
/*Home Body*/
#HomeBody {
    width: 95%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f3f4ff;
    background: linear-gradient(#efffff,#d8dbff);
}
#HomeBody header {
    width: 100%;
    padding: 1% 0;
    height: 20%;
    background-color: #c6e0ff;
    background: linear-gradient(#8f89ff,#a8cfff);
    color: #1a1a92;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
}
#HomeBody header:hover{
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    background-color:#9AA4EE;
}
#HomeBody header h1 {
    height: 5vw;
    background-color: white;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 70%;
    font-size: 3.9vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
#HomeBody header h1:hover{
    color: #101B54;
    box-shadow: 0 5px 13px 5px rgba(0, 0, 0, 0.19);
}
#HomeBody header h2 {
    height: 48%;
    padding: 1% 0;
    margin: auto;
    width: 100%;
    font-size: 3.3vh;
}
#HomeCheckList{
    width: 60%;
    height: 76%;
    position: absolute;
    left: 0;
}
#HomeCheckList h3{
    font-size: 3.8vh;
    color: #0D0D4E;
    text-align: center;
    height: fit-content;
    padding-top: 3%;
    overflow: hidden;
}
#HomeCheckList ul{
    margin: auto;
    width: 90%;
    height: fit-content;
    max-height: 90%;
    font-size: 2.7vh;
    list-style-type:none;
    overflow: auto;
    overflow-x: hidden;
}
#HomeCheckList ul li{
    padding: 2% 0;
    width: 100%;
    color: #5259A8;
    overflow-x:hidden;
    white-space: nowrap;
}
#HomeCheckList ul li img{
    width: 5vh;
}

#HomeResources{
    width: 40%;
    height: 76%;
    position: absolute;
    right: 0;
    font-size: 1.3vw;
    overflow: auto;
    overflow-X: hidden;
}
#HomeBody #HomeResources div h3{
    height: fit-content;
    color: rgb(14, 14, 82);
    width: fit-content;
    margin: auto;
    font-size: 3.5vh;
    background-color: #f4f5ff;
}
#HomeResources input{
    outline: none;
}
#HomeResources .item img{
    display: inline-block;
    width: 120px;
    height: 90px;
}
#HomeResources .item a.video{
    user-select: auto;
    margin: 0 1.3%;
    pointer-events: auto;
    color: #5259A8;
    text-overflow: ellipsis;
}
#HomeResources .item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 95px; 
    padding: 0.7% 0;
}
#HomeResources .item:hover{
    background-color:#dddff0;
}
#You input#searcher{
    display: none;
}
#HomeResources #You p input#load{
    display: none;
}

/*________________HOME END________________*/





/*________________SETTINGS START________________*/

#Settings{
    height: 100%;
    width: 100%;
    z-index: 2;  
    background-color: #E9E9E9;
    transition-duration: 0.3s;
}
#Settings header{
    width: 100%;
    background-color: #2a2180;
    height: 10%;
    color: white;
    font-size: 3.5vh;
}
#Settings header img{
    width: 5vh;
    padding: 0.8%;
}
#Settings header img:hover{
    background-color: #565ea1;
}
#Settings header p{
    display: inline-block;
    float: right;
    line-height: 2;
}
#Settings section{
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    width: fit-content;
}
#Settings section section{
    padding: 2%;
    width: 90%;
    height: 20%;
    border-bottom: 3px solid #D4D4D4;
    margin: auto;
    font-size: 2.5vh;
    color: #525288;
}

/*________________SETTINGS END________________*/




/*________________CHAT START________________*/

#Chat{
    height: 100%;
    width: 100%;
    z-index: 3;
    transition-duration: 0.3s;
    transform: translateY(-100%);
    background-color: #1e255b;
    /*The transformation is a test thing*/
}
#MessageList{
    position: absolute;
    text-align: center;
    list-style-type: none;
    left: -90%;
    top: 0;
    bottom: 0;
    z-index: 4;
    width: 95%;
    background-color: #313190;
    background: -webkit-linear-gradient(right, #171763, #0e0e4a);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    /*transition-delay: 1.3s;*/
}
#MessageList:hover{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-delay: 0.3s;
    transition-delay: 0.0s;
    left: 0;
}
#MessageList header{
    width: 100%;
    text-align: center;
    height: 7%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
#MessageList header img{
    height: 5vh;
    padding: 2%;
}
#MessageList header img:hover{
    background-color: #212263;
}
#MessageList section#group{
    height: 19%;
    margin-bottom: 4%;
}
#MessageList section#individual{
    height: 60%;
}
#MessageList h3{
    color: white;
    background-color: #9A9AC6;
    font-size: 3vh;
    text-align: center;
    width: 100%;
    height: 4%;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s
}
#MessageList h3:hover{
    -webkit-tranform: translate(5%);
    -moz-transform: translate(5%);
    -ms-transform: translate(5%);
}
#MessageList section ul{
    margin: auto;
    margin-bottom: 2%;
    width: 95%;
    height: 95%;
    font-size: 2.8vh;
    color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    overflow-x:hidden;
}
#MessageList section ul.lined li span{
    color: rgba(255, 255, 255, 0.5);
}
#MessageList section ul li{
    width: 100%;
    padding: 3%;
    overflow: hidden;
    overflow-x:hidden;
    white-space: nowrap;
}
#MessageList section ul li:hover{
    background-color: #212263;
}

/*the messaging center*/
#ChatBody{
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    left: 5%;
    bottom: 0;
    background-color: #ebebeb;
    background: linear-gradient(#e8ebff,#d2d5f3);
}
#ChatBody section{
    width: 100%;
    height: 90%;
    overflow: auto;
    overflow-x:hidden;
}
#ChatBody section h1 {
    font-size: 4vh;
    text-align: center;
    color: #0A1342;
    width: 100%;
    height:6%;
    border-bottom:3px solid rgba(47, 31, 116, 0.19); 
}
div.receive{
    width: 100%;
    margin: 0.5% 0;
    border-bottom: 2px solid rgba(77, 77, 128, 0.13);
}
div.sender{
    padding: 1% 0;
}
div.sender img {
    position: relative;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    padding: 0 2%;
}
div.sender h3{
    display: inline-block;
    width: fit-content;
}
div.receive p{
    padding: 1% 2%;
    width: fit-content;
    height: fit-content;
    color: #2B4877;
    font-size: 2.5vh;
    font-family: 'Raleway', sans-serif;
}
#ChatBody ol#messages{
    width: 100%;
    height: 90%;
    list-style-type: none;
}
#ChatBody form{
    height: 5%;
    width: 100%;
}
#ChatBody form div{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
}
#ChatBody form div input{
    border: 1px solid rgba(77, 77, 128, 0.25);
    border-radius: 5px;
    color: #797292;
    font-size: 1.5vw;
    outline: none;
    background-color: rgba(0,0,0,0);
    transition-duration: 0.3s;
    margin-right: 1.5vw;
}
#ChatBody form div input:focus{
    border-bottom: 3px solid rgba(6, 6, 66, 0.3);
    outline:none;
    padding: 2.5%;
}
#ChatBody form div button{
    background-color: #C5C1EE;
    outline: none;
    border: none;
    width: fit-content;
    margin: 0;
    color: white;
    padding: 1.5%;
    font-size: 1.5vw;
}
/*The group details and call initializer*/
#CallInit{
    z-index: 6;
    position: absolute;
    right: -82%;
    top: 0;
    bottom: 0;
    width: 85%;
    display: block;
    background-color: #6969b5;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
#CallInit:hover{
    right: 0;
}
#CallInit div{
    margin-top: 3vh;
    width: 100%;
    height: 20%;
}
#CallInit div h5{
    font-size: 1.5em;
    color: white;
    margin: auto;
    width: fit-content;
}
#CallInit div p:hover{
    background-color: #535ea3;
}
#CallInit div p{
    width: 90%;
    padding: 2% 3%;
    font-size: 3.2vh;
    display: inline-block;
    color: white;
    white-space: nowrap;
}
#CallInit div.scheduledTopic{
    width: 50%;
    position: absolute;
    right: 100%;
    color: white;
    top: 10%;
    background-color: rgb(23, 23, 102);
    visibility: hidden;
    transition-duration: 0.3s;
}
#CallInit div.scheduledTopic h3{
    text-align: center;
}
#CallInit div.scheduledTopic ul{
    color: white;
    overflow: hidden;
    overflow-y: auto;
}
figure{
    margin: auto;
    width: 50%;
    margin-top: 9vh;
    height: 30%;
}
figure img{
    width: 7.5vh;
    height: 7vh;
    display: block;
    margin: auto;
    padding: 3%;
}
figure img:hover{
    background-color: #565ea1;
}
figure figcaption{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2.5vh;
}
div#schedule{
    height: 35%;
    margin: 0;
    background-color: #6E7ABB;
    font-size: 3vh;
    text-align: center;
    color: white;
    line-height: 2;
}
#date{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0);
    padding: 1%;
    width: 90%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    font-size: 3vh;
    text-align: center;
    color: #E0E0E0;
}
#date:focus{
    border-bottom: 3px solid #000031;
}
#addSchedule{
    background-color: #5d6bb7;
    margin-top: 5%;
    border: none;
    outline: none;
    padding: 1%;
    font-size: 3vh;
    color: white;
    width: 80%;
    border-radius: 7px;
}
#addSchedule:active{
    background-color: #404d99;
}
#makeSchedule{
    display: block;
}
#CallInit #makeSchedule h5{
    font-size: 3vh;
}
#CallInit #makeSchedule h6{
    font-size: 2vh;
}
#CallInit #makeSchedule select{
    font-size: .7em;
    outline: none;
    border:none;
}
#CallInit #makeSchedule select:hover{
    outline: none;
    border:none;
}
#showSchedule{
    display: none;
}
#showSchedule p{
    font-size: 4vh;
}


/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/

/*Tablet Styles*/
@media screen and (min-width: 700px){
/*Progressive Styles*/

/*________________HOME START________________*/
#Home{
    z-index: 0;
}
/*Home Sidebar*/
#Home sidebar {
    left: 0;
    width: 25%;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    z-index: 0;
}


#Home sidebar:hover {
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
}
#Home sidebar header {
    font-size: 1.5vh;
    height: 3.5%
}

/*for the lists*/
#Home sidebar section h3 {
    width: 53.5%;
    font-size: 2vw;
}
#Home sidebar section img{
    display: inline-block;
}
#Home sidebar section img:hover {
    background-color: #212263;
}
#Home sidebar section ul {
    text-align: left;
    font-size: 2.3vh;
}
#Home sidebar section ul.lined{
    list-style-position: inside;
}
#Home sidebar section ul li {
    padding: 3%;
}
/*For settings section*/
#setting img{
    left: 66%;
    bottom: 9.5%;
}
/*Home Body*/
#HomeBody {
    width: 75%;
}
#HomeBody header h1 {
    font-size: 3.9vw;
    height: 8vw;
}
#HomeCheckList ul{
    font-size: 2.8vw;
}
#HomeCheckList ul li img{
    width: 5vh;
}

/*________________HOME END________________*/





/*________________SETTINGS START________________*/

#Settings{
    z-index: 1;   
}
#Settings header{
    font-size: 4.5vh;
}
#Settings section{
    width: 50%;
    font-size: 3.3vh;
}

/*________________SETTINGS END________________*/




/*________________CHAT START________________*/

#Chat{
    z-index: 2;
}
#MessageList{
    text-align: left;
    left: 0;
    width: 20%;
}
#MessageList h3{
    font-size: 3vh;
}
#MessageList section ul{
    font-size: 2.2vh;
}
#MessageList section ul.lined{
    list-style-position: inside;
    color: gray;
}
#MessageList section ul li{
    padding: 6% 3%;
}

/*the messaging center*/
#ChatBody{
    width: 80%;
    right: 0;
    left: 20%;
}
/*The group details and call initializer*/
#CallInit{
    display: block;
    width: 80%;
    right: -77%;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration: 0.3s;
}
#CallInit:hover{
    right: 0;
}
#CallInit div p{
    font-size: 2.5vh;
}
figure figcaption{
    font-size: 2.3vh;
}
}/*End query*/

/*________________CHAT END________________*/


/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/


@media screen and (min-width: 870px){

    #ChatBody{
        width: 60%;
        right: 30%;
        left: 20%;
    }
    /*The group details and call initializer*/
    #CallInit{
        display: block;
        width: 20%;
        right: 0;
    }
    #CallInit div p{
        font-size: 2.5vh;
    }
    figure figcaption{
        font-size: 2.3vh;
    }

}/*End Query*/

/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/
/*MARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARKMARK*/

/*Initial, Web Styles*/
@media screen and (min-width: 1250px){
/*________________HOME START________________*/
/*Home Sidebar*/
#Home sidebar {
    width: 15%;
}
/*for the lists*/
#Home sidebar section h3{
    font-size: 1.7vw;
}
#Home sidebar section ul {
    width: 95%;
}
/*For settings section*/
/*Home Body*/
#HomeBody {
    width: 85%;
}
#HomeBody header {
    height: 16%;
}
#HomeBody header h1 {
    height: 50%;
    font-size: 5.2vh;
}
#HomeBody header h1:hover{
    font-size: 5.7vh;
}
#HomeCheckList{
    height: 80%;
}
#HomeCheckList h3{
    font-size: 3.5vh;
}
#HomeCheckList ul{
    font-size: 4vh;
}
#HomeResources{
    height: 80%;
}
#HomeResurces ul{
    list-style: none;
    overflow: auto;
}

/*________________HOME END________________*/





/*________________SETTINGS START________________*/

#Settings section{
    width: 60%;
    font-size: 3vh;
}

/*________________SETTINGS END________________*/




/*________________CHAT START________________*/

#MessageList{
    width: 15%;
}
#MessageList h3{
    width: 63%;
}
#MessageList section ul li{
    padding: 6% 0;
}
/*the messaging center*/
#ChatBody{
    width: 60%;
    right: 25%;
    left: 15%;
}
/*The group details and call initializer*/
#CallInit{
    width: 25%;
}
#CallInit div p{
    font-size: 2.8vh;
}

/*________________CHAT END________________*/
}
/*End query*/