body {background-color:#f4f5ff }
header { margin-top: 30px; }
header h1 { color: black;transition: 0.3s;text-align: center;}
header h1:hover { transform: translateY(-5px); }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }
