/*Index/Login Styles*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani");
/*General Styles*/
* {
    margin: 0;
    padding: 0;
    z-index: 0;
    font-size: 100%;
    font-family: 'Muli', sans-serif;
}
button, input, a {
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Mukta Vaani', sans-serif;
    
}
a {
    text-decoration: none;
    color: black;
    font-style: none;
}
body, header, section, nav, footer {
    width: 100%;
}
.hide {
    display: none;
}

/*INDEX STYLES*/

/*Navigation Bar*/
nav {
    background-color: #0E0E40;
    font-family: "Encode Sans Condensed";
    transition-duration: 0.7s;
    -webkit-transition-dealy: 0.7s;
    -moz-transition-delay: 0.7s;
}
nav:hover{
    background-color: #050530
}
nav ul{
    display: inline-block;
    list-style-type: disk;
    list-style-image: url(assets/offline.png);
    width: 100%;
    padding: 0;
}
nav ul a li {
    padding: 1.31% 2%;
    display: inline-block;
}
nav ul a{
    color: #F7F7F7;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}
nav ul a li img{
    height: 7vh;
}
nav ul li.logo{
    padding: 0 1%;
}
nav ul li:hover{
    background-color: #22225D;
}

/*Header*/
header{
    height: 90vh;
    background-image: url(assets/Index_Jumbotronbg.jpg);
    background-repeat: none;
    background-size: cover;
    text-align: center;
}
header div{
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
}
header div:hover{
    background-color: rgba(255, 255, 255, 0.27);
}
header div h1{
    font-size: 8vh;
    padding: 10% 0 5% 0;
    color: #12195b;
    width: fit-content;
    margin: auto;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
header div h1:hover{
    color: #0C1A88;
    -webkit-transform: scale(104%), translateY(-7px);
    -moz-transform: scale(104%), translateY(-7px);
    -ms-transform: scale(104%), translateY(-7px);
}
header div a{
    font-size: 4vh;
    color: white;
    background-color: #3238a5;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 1.3%;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
header div a:hover{
    background-color: #161646;
    box-shadow: 0 5px 13px 5px rgba(0, 0, 0, 0.19);
}
/*Information*/
section{
   height: 40vh;
}
section h3{
    font-size: 4.5vh;
    color: #171771;
    padding: 2%;
    height: fit-content;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
section h3:hover{
    color:#4141A1;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
}
section p{
    font-size: 3vh;
    color: #48487A;
    padding: 1%;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
section p:hover{
    color: #2D2D64;
}
section.center {    
    text-align: center;
    background-color: #efefef;
}
section.left{
    text-align: left;
    background-color: #b3b3ff;
}
section.right{
    text-align: right;
    background-color: #9292ff;
    float: right;
}
section.centerTwo {    
    text-align: center;
    background-color: #efefef;
}
footer{
    background-color: #1A1A1A;
    justify-content: space-around;
}
footer div{
    height: 8vh;
    font-size: 2.5vh;
    color: #EBEBEB;
}
footer div a:hover{
    background-color: #494949;
    border-bottom: 2px solid #91CEFF;
}



/*LOGIN PAGE*/

/*forms*/
h2.userGreet{
    font-size: 3vw;
    width: fit-content;
    margin: auto;
    color: #000044;
    padding: 1%;
    text-align: center;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duratin: 0.3s;
}
h2.userGreet:hover{
    -webkit-transform: translateY(-7px);
    -moz-transoform: translateY(-7px);
    -ms-tranform: translateY(-7px);
}
#signup-area {
    padding: 2%;
    width: 40%;
    background-color: #fff;
    color: #22225D;
    margin: auto;
    border-radius: 5px;
    border: none;
}
#signup-area p#loginWrong {
    color: red;
    width: fit-content;
    height: 1.5vh;
    margin: auto;
    display: none;
}
#form input{
    display: flex;
    width: 50vh;
    margin:auto;
    margin-bottom: 3%;
    padding: 0.5%;
    border-width: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    background-color: #fff;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
#form input:focus{
    outline: none;
    border-width: 0;
    border-bottom: 2px solid #00002E;
}
#form .btn-container {
    text-align: center;
}
#SignUp{
    text-align: center;
}
button {
    display: flex;
    justify-content: center;
    width: 50vh;
    height: 8vh;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px auto 5px auto;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.19);
}
button:hover{
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.19);
}
button:active{
    box-shadow: 0 5px 13px 3px rgba(0, 0, 0, 0.3);
}
#btnSignUp{
    background-color: #DBDBDB;
}
#btnSignUp:active{
    background-color:#C5C5C5;
}
#btnLogin{
    background-color: #3F3FA8;
    padding: 1%;
    color: white;
}
#btnLogin:active{
    background-color: #141466;
}